.imgPrin{
  width: 100%;
}

.articlePost{
  h1{
    font-size: 3rem;
    font-weight: bold;
    display: block;
    margin-top: 5rem;
    margin-bottom: 1.5rem;
  }

  .listTime{
    list-style: none;
    display: flex;
    
    li{
        margin-right: 1.5rem;
        font-size: 1rem;
    }
  }

  h2{
    font-size: 2.25rem;
    margin: 2.5rem 0;
  }
  p{
    font-size: 1.125rem;
    line-height: 2rem;
    margin: 1.5rem 0;
  }
  a{
    color: var(--pink-500);
    cursor: pointer;
  }
  li{
    margin-bottom: 1rem;
  }

}
.nextPrevBtn{
  display:grid;
  grid-template-columns: 1fr 1fr;
  border-top: 0.5px solid var(--gray-200);
  
  .next{
    text-align: right;
    justify-self: end
  }
  .prev{
    justify-self: start;
  }
  div {
    padding-top: 3rem;
  }
  h3{
    font-weight: 400;
    font-size:1.125rem;
  }
  a{
    font-size:1rem;
    font-weight: 600;
    color: var(--pink-500)
  }
}